<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leader Board</title>
    <style>
      * {
        color: var(--flashLogo);
        margin: 0;
        padding: 0;
        outline: none;
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
      }

      .main-wrapper {
        max-width: 110rem;
        /* border: solid red; */
        margin: auto;
      }
      body {
        background-color: var(--mainBackground);
      }
      span {
        color: var(--flashLogo);
        transition: all ease 0.3s;
      }
      a {
        text-decoration: none;
      }
      .logoBox {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .logo {
        color: var(--flashLogo);
        cursor: pointer;
      }
      .logoImg {
        width: 40px;
        height: 40px;
        filter: invert(50%);
      }
      .nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
      }
      #settings,
      #reset {
        width: 25px;
        object-fit: contain;
        filter: invert(50%);
      }
      .navElements {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      .navElements a,
      .timeSelectTitle {
        color: var(--buttonTxt);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        transition: color 0.5s;
      }
      .navElements a:hover {
        color: var(--buttonHover);
      }

      h3 {
        cursor: default;
      }
      h4 {
        color: var(--flashLogo);
      }
      .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        padding-top: 1rem;
        align-items: center;
      }
      .main span {
        margin-right: 1rem;
      }
      .timeWiseSelect,
      .times {
        display: flex;
        justify-content: space-around;
      }
      .times {
        width: 100%;
      }

      .timeWiseSelect {
        margin-top: 2rem;
        font-size: 1.2rem;
        align-items: center;
        width: 60%;
      }
      .myBtn {
        background-color: transparent;
        color: var(--buttonTxt);
        border: none;
        font-size: 1.2rem;
        border-bottom: 2px solid var(--buttonTxt);
        padding-bottom: 0.2rem;
        margin: 0 1rem;
        transition: 0.5s;
        cursor: pointer;
      }
      .myBtn:hover,
      .myBtn:focus {
        color: var(--buttonHover);
        border-bottom: 2px solid var(--flashLogo);
      }
      .clicked {
        color: var(--buttonHover);
        border-bottom: 2px solid var(--flashLogo);
      }
      .time15Data,
      .time30Data,
      .time60Data,
      .time120Data {
        width: 60%;
        display: flex;
      }
      table {
        margin-top: 2rem;
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid var(--flashLogo);
      }
      th {
        color: var(--flashLogo);
      }
      td {
        color: var(--buttonTxt);
      }
      th,
      td,
      li {
        background-color: var(--mainBackground) !important;
      }
    </style>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="nav">
        <a href="/">
          <div class="logoBox">
            <img src="../Assets/logo.png" alt="" class="logoImg" />
            <h1 class="logo"><span>Flash</span>Typer</h1>
          </div>
        </a>

        <div class="navElements">
          <a href="/profile" id="userProfile">Profile</a>
          <a href="/logout" id="logout">Logout</a>
          <a href="/contact-us" id="login">Contact Us</a>
          <a href="/settings">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/material-sharp/24/settings.png"
              alt="settings"
              id="settings"
            />
          </a>
        </div>
      </div>
      <div class="main">
        <h1>Leader Board</h1>
        <div class="timeWiseSelect">
          <span>Time:</span>
          <div class="times">
            <button class="myBtn" onclick="toggleState('time15')" id="time15">
              15
            </button>
            <button class="myBtn" onclick="toggleState('time30')" id="time30">
              30
            </button>
            <button class="myBtn" onclick="toggleState('time60')" id="time60">
              60
            </button>
            <button class="myBtn" onclick="toggleState('time120')" id="time120">
              120
            </button>
          </div>
        </div>

        <div class="time15Data">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>WPM</th>
                <th>Accuracy</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% data['15'].forEach(function(item, index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <!-- Display the row number -->
                <td><%= item[1] %></td>
                <!-- Username -->
                <td><%= item[0] %></td>
                <!-- WPM -->
                <td><%= item[3].toFixed(2) %></td>
                <!-- Accuracy (formatted to 2 decimal points) -->
                <td><%= item[2] %></td>
                <!-- Date -->
              </tr>
              <% }); %>

              <!-- Add more rows here -->
            </tbody>
          </table>
        </div>
        <div class="time30Data">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>WPM</th>
                <th>Accuracy</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% data['30'].forEach(function(item, index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <!-- Display the row number -->
                <td><%= item[1] %></td>
                <!-- Username -->
                <td><%= item[0] %></td>
                <!-- WPM -->
                <td><%= item[3].toFixed(2) %></td>
                <!-- Accuracy (formatted to 2 decimal points) -->
                <td><%= item[2] %></td>
                <!-- Date -->
              </tr>
              <% }); %>

              <!-- Add more rows here -->
            </tbody>
          </table>
        </div>
        <div class="time60Data">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>WPM</th>
                <th>Accuracy</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% data['60'].forEach(function(item, index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <!-- Display the row number -->
                <td><%= item[1] %></td>
                <!-- Username -->
                <td><%= item[0] %></td>
                <!-- WPM -->
                <td><%= item[3].toFixed(2) %></td>
                <!-- Accuracy (formatted to 2 decimal points) -->
                <td><%= item[2] %></td>
                <!-- Date -->
              </tr>
              <% }); %>

              <!-- Add more rows here -->
            </tbody>
          </table>
        </div>
        <div class="time120Data">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>WPM</th>
                <th>Accuracy</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% data['120'].forEach(function(item, index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <!-- Display the row number -->
                <td><%= item[1] %></td>
                <!-- Username -->
                <td><%= item[0] %></td>
                <!-- WPM -->
                <td><%= item[3].toFixed(2) %></td>
                <!-- Accuracy (formatted to 2 decimal points) -->
                <td><%= item[2] %></td>
                <!-- Date -->
              </tr>
              <% }); %>

              <!-- Add more rows here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      const savedPreferences = localStorage.getItem("preferences");
      const preferences = JSON.parse(savedPreferences);

      const themes = {
        1: {
          "--flashLogo": "rgb(180, 244, 250)",
          "--mainBackground": "#030613",
          "--wordsTxt": "#4fcdb9",
          "--buttonTxt": "#3a6c97",
          "--buttonHover": "#fff",
        },
        2: {
          "--flashLogo": "#ffffff",
          "--mainBackground": "#000000",
          "--wordsTxt": "#d0d0d0",
          "--buttonTxt": "#ffffff",
          "--buttonHover": "#737373",
        },
        3: {
          "--flashLogo": "#d1ffcd",
          "--mainBackground": "#000000",
          "--wordsTxt": "#15ff00",
          "--buttonTxt": "#006500",
          "--buttonHover": "#d1ffcd",
        },
        4: {
          "--flashLogo": "#ffffff",
          "--mainBackground": "#0e0e0e",
          "--wordsTxt": "#db9730",
          "--buttonTxt": "#555555",
          "--buttonHover": "#c6c6c6",
        },
        5: {
          "--flashLogo": "#444444",
          "--mainBackground": "#ffffff",
          "--wordsTxt": "#444444",
          "--buttonTxt": "#898787",
          "--buttonHover": "#444444",
        },
        6: {
          "--flashLogo": "#ffa7a7",
          "--mainBackground": "#240000",
          "--wordsTxt": "#ea514b",
          "--buttonTxt": "#f36f6f",
          "--buttonHover": "#ffffff",
        },
      };
      let theme = preferences.theme;
      const selectedTheme = themes[theme];
      const root = document.documentElement;
      for (const [property, value] of Object.entries(selectedTheme)) {
        root.style.setProperty(property, value);
      }
      function toggleState(selectedTime) {
        document
          .querySelectorAll(
            ".time15Data, .time30Data, .time60Data, .time120Data"
          )
          .forEach((div) => {
            div.style.display = "none";
          });

        const selectedDiv = document.querySelector(`.${selectedTime}Data`);
        if (selectedDiv) {
          selectedDiv.style.display = "block";
        }

        document.querySelectorAll(".myBtn").forEach((button) => {
          button.classList.remove("clicked");
        });
        document.getElementById(selectedTime).classList.add("clicked");
      }
      toggleState("time30");
    </script>
  </body>
</html>
