<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
      /* CSS variables */

      * {
        color: var(--flashLogo) !important;
        margin: 0;
        padding: 0;
        outline: none;
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
      }

      .main-wrapper {
        max-width: 110rem;
        /* border: solid red; */
        margin: auto;
      }
      body {
        background-color: var(--mainBackground);
      }
      span {
        color: var(--flashLogo);
        transition: all ease 0.3s;
      }
      a {
        text-decoration: none;
      }
      .logoBox {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .logo {
        color: var(--flashLogo);
        cursor: pointer;
      }
      .logoImg {
        width: 40px;
        height: 40px;
        filter: invert(50%);
      }
      .nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
      }
      #settings,
      #reset {
        width: 25px;
        object-fit: contain;
        filter: invert(50%);
      }
      .navElements {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      .navElements a,
      .timeSelectTitle {
        color: var(--buttonTxt);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        transition: color 0.5s;
      }
      .navElements a:hover {
        color: var(--buttonHover);
      }

      h3 {
        cursor: default;
      }
      h4 {
        color: var(--flashLogo);
      }
      .card {
        background-color: var(--mainBackground);
      }
      .card-body {
        border: 1px solid var(--buttonTxt);
      }
      th,
      td,
      li {
        background-color: var(--mainBackground) !important;
      }
      .myBtn {
        background-color: transparent;
        color: var(--buttonTxt);
        border: none;
        font-size: 1.2rem;
        border-bottom: 1px solid var(--buttonTxt);
        margin: 0 1rem;
      }
      .myBtn:hover {
        color: var(--buttonHover);
      }
    </style>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="nav">
        <a href="/">
          <div class="logoBox">
            <img src="../Assets/logo.png" alt="" class="logoImg" />
            <h1 class="logo"><span>Flash</span>Typer</h1>
          </div>
        </a>

        <div class="navElements">
          <a href="/profile" id="userProfile">Profile</a>
          <a href="/logout" id="logout">Logout</a>
          <a href="/contact-us" id="login">Contact Us</a>
          <a href="/settings">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/material-sharp/24/settings.png"
              alt="settings"
              id="settings"
            />
          </a>
        </div>
      </div>
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4" style="height: 55%">
                <div class="card-body text-center">
                  <img
                    width="120"
                    height="120"
                    src="https://img.icons8.com/pastel-glyph/64/person-male--v3.png"
                    alt="person-male--v3"
                    style="filter: invert(50%)"
                  />
                  <h1 class="my-3"><%= user.name %></h1>
                  <h3 class="my-3"><%= user.userName %></h3>
                  <h4 class="my-3">
                    Joined <%= new
                    Date(user.dateOfJoining).toLocaleDateString('en-US', { year:
                    'numeric', month: 'long', day: 'numeric' }) %>
                  </h4>
                  <h4 class="mb-5">
                    Rank <%= user.rank === 0 ? '- ?' : user.rank %>
                  </h4>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                  <h5 class="mb-4">Time wise Data</h5>
                  <table class="table table-bordered">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Spec/Time</th>
                        <th scope="col">15s</th>
                        <th scope="col">30s</th>
                        <th scope="col">60s</th>
                        <th scope="col">120s</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Best WPM</th>
                        <td><%=userInfo.timeWiseData[0][0]%></td>
                        <td><%=userInfo.timeWiseData[1][0]%></td>
                        <td><%=userInfo.timeWiseData[2][0]%></td>
                        <td><%=userInfo.timeWiseData[3][0]%></td>
                      </tr>
                      <tr>
                        <th scope="row">Average WPM</th>
                        <td><%=userInfo.timeWiseData[0][1]%></td>
                        <td><%=userInfo.timeWiseData[1][1]%></td>
                        <td><%=userInfo.timeWiseData[2][1]%></td>
                        <td><%=userInfo.timeWiseData[3][1]%></td>
                      </tr>
                      <tr>
                        <th scope="row">Accuracy</th>
                        <td><%=userInfo.timeWiseData[0][2]%></td>
                        <td><%=userInfo.timeWiseData[1][2]%></td>
                        <td><%=userInfo.timeWiseData[2][2]%></td>
                        <td><%=userInfo.timeWiseData[3][2]%></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-5">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-5">
                      <!-- <p class="mb-0"><%=userInfo.user.name%></p> -->
                      <p class="mb-0"><%=user.name%></p>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-5">
                      <p class="mb-0">username</p>
                    </div>
                    <div class="col-sm-5">
                      <p class="mb-0"><%=user.userName%></p>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-5">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-5">
                      <p class="mb-0"><%=user.userEmail%></p>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-5">
                      <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-5">
                      <p class="mb-0"><%=user.userGender%></p>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-5">
                      <p class="mb-0">Password</p>
                    </div>
                    <div class="col-sm-5">
                      <p class="mb-0">********</p>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <a class="myBtn float-end" href="/settings" role="button"
                    >Edit</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <h5 class="mb-4">Last 5 Tests Data</h5>
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">WPM</th>
                            <th scope="col">Accuracy</th>
                            <th scope="col">Time</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%=userInfo.last5Tests[0][0]%></td>
                            <td><%=userInfo.last5Tests[0][1]%></td>
                            <td><%=userInfo.last5Tests[0][2]%></td>
                            <td><%=userInfo.last5Tests[0][3]%></td>
                          </tr>
                          <tr>
                            <td><%=userInfo.last5Tests[1][0]%></td>
                            <td><%=userInfo.last5Tests[1][1]%></td>
                            <td><%=userInfo.last5Tests[1][2]%></td>
                            <td><%=userInfo.last5Tests[1][3]%></td>
                          </tr>
                          <tr>
                            <td><%=userInfo.last5Tests[2][0]%></td>
                            <td><%=userInfo.last5Tests[2][1]%></td>
                            <td><%=userInfo.last5Tests[2][2]%></td>
                            <td><%=userInfo.last5Tests[2][3]%></td>
                          </tr>
                          <tr>
                            <td><%=userInfo.last5Tests[3][0]%></td>
                            <td><%=userInfo.last5Tests[3][1]%></td>
                            <td><%=userInfo.last5Tests[3][2]%></td>
                            <td><%=userInfo.last5Tests[3][3]%></td>
                          </tr>
                          <tr>
                            <td><%=userInfo.last5Tests[4][0]%></td>
                            <td><%=userInfo.last5Tests[4][1]%></td>
                            <td><%=userInfo.last5Tests[4][2]%></td>
                            <td><%=userInfo.last5Tests[4][3]%></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body p-0">
                      <ul class="list-group list-group-flush rounded-3">
                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Highest WPM:</h5>
                          <h5 class="mb-0"><%=userInfo.info[0]%></h5>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Average WPM:</h5>
                          <h5 class="mb-0"><%=userInfo.info[1]%></h5>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Average Accuracy:</h5>
                          <h5 class="mb-0"><%=userInfo.info[2]%></h5>
                        </li>

                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Number of tests started:</h5>
                          <h5 class="mb-0"><%=userInfo.info[3]%></h5>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Number of tests completed:</h5>
                          <h5 class="mb-0"><%=userInfo.info[4]%></h5>
                        </li>
                        <li
                          class="list-group-item d-flex justify-content-start align-items-center p-3"
                        >
                          <h5 class="mr-5 mb-0">Time spent on typing:</h5>
                          <h5 class="mb-0"><%=userInfo.info[5]%></h5>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script>
    const savedPreferences = localStorage.getItem("preferences")
    const preferences = JSON.parse(savedPreferences)

    const themes = {
      1: {
        "--flashLogo": "rgb(180, 244, 250)",
        "--mainBackground": "#030613",
        "--wordsTxt": "#4fcdb9",
        "--buttonTxt": "#3a6c97",
        "--buttonHover": "#fff",
      },
      2: {
        "--flashLogo": "#ffffff",
        "--mainBackground": "#000000",
        "--wordsTxt": "#d0d0d0",
        "--buttonTxt": "#ffffff",
        "--buttonHover": "#737373",
      },
      3: {
        "--flashLogo": "#d1ffcd",
        "--mainBackground": "#000000",
        "--wordsTxt": "#15ff00",
        "--buttonTxt": "#006500",
        "--buttonHover": "#d1ffcd",
      },
      4: {
        "--flashLogo": "#ffffff",
        "--mainBackground": "#0e0e0e",
        "--wordsTxt": "#db9730",
        "--buttonTxt": "#555555",
        "--buttonHover": "#c6c6c6",
      },
      5: {
        "--flashLogo": "#444444",
        "--mainBackground": "#ffffff",
        "--wordsTxt": "#444444",
        "--buttonTxt": "#898787",
        "--buttonHover": "#444444",
      },
      6: {
        "--flashLogo": "#ffa7a7",
        "--mainBackground": "#240000",
        "--wordsTxt": "#ea514b",
        "--buttonTxt": "#f36f6f",
        "--buttonHover": "#ffffff",
      },
    }
    let theme = preferences.theme
    const selectedTheme = themes[theme]
    const root = document.documentElement
    for (const [property, value] of Object.entries(selectedTheme)) {
      root.style.setProperty(property, value)
    }
  </script>
</html>
